<section class="servParent">
  <div class="serviceSection">
    <h1>
      Our <br />
      Services
    </h1>
    <div class="btnSection">
      <button type="button">ALL SERVICES</button>
    </div>
  </div>
  <section class="servCon">
    <carousel [cellsToShow]="3">
      <div class="carousel-cell">
        <section id="team">
          <div class="card">
            <div class="card-body">
              <img
                src="../../assets/images/cloudservice.png"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h3>Cloud Services</h3>
              <p>
                Transform your business processes with scalable cloud solutions.
                Deliver optimal business outcomes with reliable cloud computing
                solutions from GoolRant.
              </p>
              <div class="d-flex flex-row">
                <div class="">
                  <a href="#"> READ MORE </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <section id="team">
          <div class="card">
            <div class="card-body">
              <img
                src="../../assets/images/applicationdevelopment.png"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h3>Website Development</h3>
              <p>
                Accelerate growth with intuitive and engaging websites which are
                made to deliver performance that transform your website visitors
                into loyal customers.
              </p>
              <div class="d-flex flex-row">
                <div class="">
                  <a href="#"> READ MORE </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <section id="team">
          <div class="card">
            <div class="card-body">
              <img
                src="../../assets/images/webdevelopment.png"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h3>Application Development</h3>
              <p>
                We ensure your digital growth with ingeniously developed
                engaging apps. GoolRant builds innovative apps that offer your
                customers an unforgettable user experience.
              </p>
              <div class="d-flex flex-row">
                <div class="">
                  <a href="#"> READ MORE </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <section id="team">
          <div class="card">
            <div class="card-body">
              <img
                src="../../assets/images/webdevelopment.png"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h3>Mobile Development</h3>
              <p>
                We ensure your digital growth with ingeniously developed
                engaging apps. GoolRant builds innovative apps that offer your
                customers an unforgettable user experience.
              </p>
              <div class="d-flex flex-row">
                <div class="">
                  <a href="#"> READ MORE </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <section id="team">
          <div class="card">
            <div class="card-body">
              <img
                src="../../assets/images/webdevelopment.png"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h3>Application Development</h3>
              <p>
                We ensure your digital growth with ingeniously developed
                engaging apps. GoolRant builds innovative apps that offer your
                customers an unforgettable user experience.
              </p>
              <div class="d-flex flex-row">
                <div class="">
                  <a href="#"> READ MORE </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <section id="team">
          <div class="card">
            <div class="card-body">
              <img
                src="../../assets/images/webdevelopment.png"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h3>Application Development</h3>
              <p>
                We ensure your digital growth with ingeniously developed
                engaging apps. GoolRant builds innovative apps that offer your
                customers an unforgettable user experience.
              </p>
              <div class="d-flex flex-row">
                <div class="">
                  <a href="#"> READ MORE </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </carousel>
  </section>
</section>
