<div class="header">
  <div class="container p-0">
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">
        <img src="../../assets/images/logo-dark.png" alt="" />
      </div>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu" id="menu">
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/">About</a></li>
          <li class="services">
            <a href="/">Services</a>
            <!-- DROPDOWN MENU -->
            <ul class="dropdown">
              <li><a href="/cloud-service">Cloud Services</a></li>
              <li><a href="/web-development">WebSite Development</a></li>
              <li><a href="/mobile-development">Mobile App Development</a></li>
              <li><a href="/software-development">Software Development</a></li>
              <li><a href="/web-app-development">Web App Development</a></li>
            </ul>
          </li>
          <!-- <li><a href="/">Pricing</a></li> -->
          <li><a href="/contact-us">Contact</a></li>
        </div>
      </ul>
    </nav>
  </div>
</div>
