<div class="header">
  <!-- <div class="container p-0"> -->
  <div class="">
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo" (click)="home()">
        <img src="../../assets/images/logo-dark.png" alt="" />
      </div>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu" id="menu">
          <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
          <li class="services">
            <a href="javascript:void(0)">Services</a>
            <!-- DROPDOWN MENU -->
            <ul class="dropdown">
              <li><a [routerLink]="['/cloud-service']" routerLinkActive="active">Cloud Services</a></li>
              <li><a [routerLink]="['/web-development']" routerLinkActive="active">WebSite Development</a></li>
              <li><a [routerLink]="['/mobile-development']" routerLinkActive="active">Mobile App Development</a></li>
              <li><a [routerLink]="['/software-development']" routerLinkActive="active">Software Development</a></li>
              <li><a [routerLink]="['/web-app-development']" routerLinkActive="active">Web App Development</a></li>
              <li><a [routerLink]="['/it-staffing']" routerLinkActive="active">IT Staffing,Recruitment & Training</a></li>
            </ul>
          </li>
          <!-- <li><a href="/">Pricing</a></li> -->
          <li><a [routerLink]="['/blog']" routerLinkActive="active">Blog</a></li>
          <li><a [routerLink]="['/contact-us']" routerLinkActive="active">Contact</a></li>
        </div>
      </ul>
    </nav>
  </div>
</div>
