<div class="footer">
<!-- <div class="footer container"> -->
    <div class="footer-top">
        <div class="col-md-3 col-sm-12">
            <h4>Our Services</h4>
        </div>
        <div class="col-md-3 col-sm-12">
            <h4>Why Us</h4>
        </div>
        <div class="col-md-3 col-sm-12">
            <h4>Our Client Say</h4>
        </div>
        <div class="col-md-3 col-sm-12">
            <h4>Latest News</h4>
            <div class="d-flex block-content">
                <!-- <img src="../../assets/images/web development.png" alt="">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed tenetur delectus ducimus vero? Velit
                    dolore </p> -->
            </div>
        </div>
    </div>
    <div class="mid-line"></div>
    <div class="footer-bottom">
        <div class="bottom-left col-md-6 col-sm-12">
            <img src="../../assets/images/footer-logo.png" alt="">
            <span class="cpy-rt">© 2022 GoolRant | Privacy</span>
        </div>
        <div class="bottom-right col-md-6 col-sm-12">
            <h4>Subscribes For Updates</h4>
            <input type="email" placeholder="Enter Email Address">
            <div class="d-flex">
                <button class="subscribe-btn">Subscribe</button>
                <span>We needs the information to process your subscription.
                    You may unsubscribe at any time. For information on our privacy practices,
                    please review our <span class="privacy">Privacy Notice.</span></span>
            </div>
        </div>
    </div>
</div>