.footer {
    background: #2C3036;
    padding   : 40px;

    .footer-top {
        display: flex;

        h4 {
            // font-weight: 700;
            font-size           : 22px;
            line-height         : 26px;
            text-decoration-line: underline;
            color               : #3EC5F1;
            cursor              : pointer;
        }

        .block-content {

            img {
                width       : 80px;
                height      : 80px;
                margin      : auto;
                margin-right: 15px;
            }

            p {
                margin: auto;
            }
        }
    }


    .mid-line {
        border: 1px solid #3EC5F1;
        margin: 30px 0;
    }

    .footer-bottom {
        display        : flex;
        justify-content: space-between;

        span {
            color: #3EC5F1;
        }
        h4 {
            color: #3EC5F1;
        }

        .bottom-left {
            display: grid;

            img {
                width: 200px;
                filter: brightness(6.5);
            }

            .cpy-rt {
                font-weight: 400;
                font-size  : 16px;
                line-height: 19px;
                margin     : 40px 0 0 0;
            }
        }

        .bottom-right {
            width: 35%;

            input[type="email"] {
                border       : 1px solid #3EC5F1;
                border-radius: 5px;
                background   : inherit;
                padding      : 10px;
                width        : 100%;
                margin       : 15px 0;
            }

            .subscribe-btn {
                margin       : auto;
                margin-right : 15px;
                padding      : 5px 40px;
                background   : linear-gradient(180deg, #3EC5F1 0%, #74ADF4 100%);
                border-radius: 10px;
                color        : #fff;
                border-color : inherit;
            }

            span {
                font-size: 10px;

                .privacy {
                    text-decoration: underline;
                    color          : #3EC5F1;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .footer-top {
            display: block;
        }

        .footer-bottom {
            display: block;

            .bottom-right {
                width: 100%;
            }
        }
    }
}