<div class="contact-us">
    <div class="container p-0">
        <div class="top-side">
            <div class="vertical-line"></div>
            <!-- <div class="vertical-arrow"></div> -->
            <div class="col-md-8 col-sm-12">
                <div class="text-side">
                    <p>Contact Us</p>
                    <div class="text-color">
                        How Can We Help You ?
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="../../assets/images/contact/top-img.png" alt="" class="right-img">
            </div>
        </div>
        <div class="bottom-side">
            <p>Please help us with your following information so that  We will get in touch with you shortly.</p>
            <div class="bottom-below">
                <div class="col-md-6 col-sm-12">
                    <p>Mandatory fields are marked with * </p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Name*">
                        </div>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email Address*">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Phone Number*">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Looking for...">
                        </div>
                        <div class="input-group">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                        <span class="input-group-btn">
                            <button class="" type="submit">Submit</button>
                        </span>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="../../assets/images/contact/side-image.png" alt="" class="right-img">
                </div>
            </div>
        </div>
    </div>
</div>