<div class="about-main">
    <div class="banner">
        <img src="../../assets/images/about/banner.png" alt="">
    </div>
    <div class="who-we-are">
        <div class="block">
            <div class="text-center">
                <h3>Who Are We</h3>
            </div>
            <div class="d-flex content">
                <div class="col-6">
                    <p>GoolRant is the passionate creation of a passionate group of people who are committed 
                        towards digitizing businesses. GoolRant is an all-in-one software and tech solutions 
                        company that blends strategy, research, creativity, and technology to digitally transform 
                        businesses and companies of all sizes and industries. 
                              GoolRant makes your journey of digital transformation more meaningful, resourceful, 
                        profitable, and easy. GoolRant exists to empower you with new-age digital and software 
                        solutions.</p>
                </div>
                <div class="col-6 img-right">
                    <img src="../../assets/images/about/goolrant.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="advantage">
        <div class="block">
            <div class="text-center">
                <h3>The GoolRant Advantage</h3>
            </div>
            <div class="d-flex cards">
                <div class="col-6 content">
                    <p class="text-center">
                        Ahead of the Curve
                    </p>
                    <ul>
                        <li>Scale-up with next-gen software services</li>
                        <li>Upgrade Digitally to stay ahead</li>
                        <li>Reach globally with futuristic tech solutions</li>
                    </ul>
                </div>
                <div class="col-6 content">
                    <p class="text-center">
                        Driven by Agility
                    </p>
                    <ul>
                        <li>Get on-demand services</li>
                        <li> Transform with flexible execution </li>
                        <li> Get high-performing digital assets</li>
                    </ul>
                </div>
            </div>
            <div class="d-flex cards">
                <div class="col-6 content">
                    <p class="text-center">
                        Deep Domain Experience
                    </p>
                    <ul>
                        <li>Get flawless software development</li>
                        <li> Get ever-engaging apps</li>
                        <li> Get niche digital expertise</li>
                    </ul>
                </div>
                <div class="col-6 content">
                    <p class="text-center">
                        Strong Track Record
                    </p>
                    <ul>
                        <li>Grow with our structured processes</li>
                        <li>Embrace the power of data-driven solutions </li>
                        <li> Excel with our productive digitization</li>
                    </ul>
                </div>
            </div>
            <div class="d-flex cards">
                <div class="col-6 content">
                    <p class="text-center">
                        Engineering DNA
                    </p>
                    <ul>
                        <li>Improve with our innovative concepts</li>
                        <li> Get ingenious software development</li>
                        <li> Upgrade and work with better and faster digital tools</li>
                    </ul>
                </div>
                <div class="col-6 content">
                    <p class="text-center">
                        Deep Client Relationships
                    </p>
                    <ul>
                        <li>Your demand is our topmost priority</li>
                        <li> We help you turn prospects into customers</li>
                        <li> Experience our personalized software solutions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="solution">
        <div class="block">
            <div class="text-center">
                <h3>In Demond Solution</h3>
            </div>
            <div class="d-flex content">
                <div class="content-left col-6">
                    <h4>Cloud Services</h4>
                    <p>GoolRant’s smart cloud computing services are known to seamlessly integrate your existing 
                        processes and data with cloud systems you can securely rely on.</p>
                </div>
                <div class="content-right">
                    <img src="../../assets/images/about/first.png" alt="">
                </div>
            </div>
            <div class="d-flex content">
                <div class="content-right">
                    <img src="../../assets/images/about/second.png" alt="">
                </div>
                <div class="content-left col-6">
                    <h4>Blockchain Technologies</h4>
                    <p>Automate and leverage from the new era of blockchain-backed tech solutions and digital 
                        products. Embark on a journey of blockchain-powered growth.</p>
                </div>
            </div>
            <div class="d-flex content">
                <div class="content-left col-6">
                    <h4>Autocode.AI</h4>
                    <p>Enrich your code creation processes with fully automated solutions from GoolRant. Explore 
                        the power of automation in code development and management.</p>
                </div>
                <div class="content-right">
                    <img src="../../assets/images/about/third.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>