<section id="client">
  <div class="container clContainer">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="clientHeader">Our Clients Say</h1>
      </div>
    </div>
    <div class="row clientBox">
      <div class="col-lg-6 text-center">
        <img src="../../assets/images/applicationdevelopment.png" />
      </div>
      <div class="col-lg-6">
        <p>
          I am a Development Engineer by profession and since 2019, I am using
          Manohar Sugandhi incense sticks for creating a safe and pure space
          where I can align my energies. They smell so soothing that it's almost
          meditative. I have tried many types of incense sticks but my favourite
          has to be Bindu..
        </p>
        <h3 class="pt-4">Sakshi Ujjainkar</h3>
        <p style="font-size: 18px">Development Engineer</p>
      </div>
    </div>
  </div>
</section>
