.blogHeader{
    background-color: white;
    padding: 12px 0px;
}
.allblogLink
{
    padding: 20px 0;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
    margin-top: 1rem;
    margin-bottom: 3rem;
    a{
        text-decoration: none;
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #424242;
        padding: inherit;
    }
}
#blogdet{
    a{
        letter-spacing: 0.01em;
        text-decoration-line: underline;
        color: #223751;
        font-size: 18px;
        line-height: 24px;
    }
    .blogdesc{
        font-size: 22px;
        line-height: 33px;
        color: #50555C;
    }
}
.btnSection{
    .prevBlog,.nextBlog{
        cursor: pointer;
        position: relative;
        padding: 11px 0px;
        border: 1px solid #000000;
        span{
            color: #000000;
            font-size: 28px;
        }
        p{
            padding-top: 1rem;
            color: #233951;
            font-size: 23px;
        }
        .leftarrow{
            position: absolute;
            left: 25px;
        }
        .rightarrow{
            position: absolute;
            right: 25px;
        }
    }
}