<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<nav class="menu">
  <input
    type="checkbox"
    href="#"
    class="menu-open"
    name="menu-open"
    id="menu-open"
    checked
  />
  <label class="menu-open-button" for="menu-open" style="visibility: hidden">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

  <a
    href="https://www.linkedin.com/company/goolrant-technologies/"
    target="_blank"
    class="menu-item blue"
  >
    <i class="fa fa-linkedin"></i>
  </a>
  <a
    href="https://www.facebook.com/GoolRant-Technologies-106900792042536/"
    target="_blank"
    class="menu-item purple"
  >
    <i class="fa fa-facebook"></i>
  </a>
  <a
    href="https://www.instagram.com/goolranttechnologies/"
    target="_blank"
    class="menu-item orange"
  >
    <i class="fa fa-instagram"></i>
  </a>
  <a
    href="https://twitter.com/goolrant"
    target="_blank"
    class="menu-item lightblue"
  >
    <i class="fa fa-twitter"></i>
  </a>
</nav>
