<app-meta-tags [url]="url"></app-meta-tags>
<section id="webdevcontainer">
  <div class="webblock">
    <div class="container webCon">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="webheader">
            <h2 class="webTxt">Web App Development</h2>
          </div>
          <div class="arrow">
            <i style="font-size: 21px" class="fa">&#xf175;</i>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 imgcon">
          <img
            class="ipad"
            src="../../../assets/images/services/web-app/dashboard.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="webfeatures">
    <div class="container featureCon">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h1 class="py-4">
            Everything you are <br />
            In one simple app.
          </h1>
        </div>
      </div>
      <div class="row cardContainer">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card1">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Smart</h3>

              <p class="card-text">
                GoolRant's team of dexterous web app developers consist of smart
                and talented professionals who are completely dedicated towards
                delivering out-of-the-box concepts and tangible solutions that
                meet difficult and intricate web app requirements. GoolRant's
                team of dynamic developers employs smart web app development
                methodologies that involve: intelligent technologies,
                interactive PHP web development, leading platforms and advanced
                frameworks.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card2">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Simplistic</h3>

              <p class="card-text">
                GoolRant strongly believes in making the entire web app
                development journey as simple and hassle-free as it can be. Over
                the years, GoolRant has been consistently employing ingenious
                and scalable web app development processes. This kind of
                resourceful approach enables GoolRant to deliver and complete
                all kinds of complex web application requirements within
                stipulated timelines thereby ensuring a faster time to develop
                and deploy web apps of all kinds for industries and businesses
                of all sizes and types, having specific niche industry demands
                and needs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Precise</h3>

              <p class="card-text">
                GoolRant helps you to create a long-lasting and influential
                impression on your target audience with interactive web apps
                that precisely offer the smoothest user interfaces and intuitive
                experiences. GoolRant's web app development competency precisely
                ensures the delivery of state-of-the-art web applications that
                are made to withstand the real test of rapidly changing times.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weblegacy">
    <div class="container weblegacycon">
      <div class="row">
        <div class="col-lg-10 webview">
          <div class="legh1Txt">
            <h1>
              Build Web Apps That Convert <br />
              Audience Into Customers
            </h1>
          </div>
          <div class="legPtext">
            <p class="pt-2">
              Get the most out of your precious user interaction with GoolRant
              web application products that include: client-side web apps,
              server-side web apps & single-page applications. GoolRant has
              expertise in developing user-specific client-side web applications
              that deliver high-performance UI/UX capabilities through speedy
              interactions, no buffering time, and seamless responses.
            </p>
            <p>
              GoolRant first understands your business requirements and builds a
              remarkable and user-friendly web application that boosts promising
              interactions and engagements with your potential customer base.
            </p>
            <p>
              Make your customer interactions more memorable and interesting
              with GoolRant's progressive web apps that are simplistic in
              usability and awe-inspiring in terms of design and creativity.
            </p>
            <p>
              Experience the highest levels of compatibility with multiple and
              versatile platforms, operating software (OS) and devices with
              GoolRant's progressive web apps that are made to perform and
              deliver on multi-platform frameworks and workflows.
            </p>
          </div>
        </div>
        <!-- <div class="col-lg-4">
          <div class="legcaption">
            <p>Build Websites That Are Made To Scale</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="container p-0">
    <app-lets-connect></app-lets-connect>
  </div>
</section>
