<section id="webdevcontainer">
  <div class="webblock">
    <div class="container webCon">
      <div class="row">
        <div class="col-lg-6">
          <div class="webheader">
            <h2 class="webTxt">IT staffing,Recruitment & Training</h2>
          </div>
          <div class="arrow">
            <i style="font-size: 21px" class="fa">&#xf175;</i>
          </div>
        </div>
        <div class="col-lg-6 imgcon">
          <img
            class="ipad"
            src="../../../assets/images/services/staffings/staff.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="webfeatures">
    <div class="container featureCon">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="py-4">
            Grow Rapidly with <br />
            The Right Skills & Team
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4" style="margin-top: 4rem">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Resourceful</h3>

              <p class="card-text">
                GoolRants seeks to be your reliable partner in times of hiring
                and retaining top tech talents that are carefully nurtured to
                become your company's most valuable and productive resource.
                GoolRant infuses productivity and high performance in your
                workflows by helping your company to discover, retain and train
                top-level IT staff with additional skilled resources, skills,
                and experiences.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4" style="margin-top: 14rem">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Adept</h3>

              <p class="card-text">
                Always stay ahead in the overly competitive space of digital
                companies by hiring the adept type of IT talent and resources
                from a diversified pool of talent that are equipped and well
                trained in the most advanced tools, processes, trends, and
                workflows of software/ app/ website development and more.
                GoolRant ensures your company's growth by adding the best of the
                best IT professionals to your executive and management team.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4" style="margin-top: 23rem">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Trustworthy</h3>

              <p class="card-text">
                When it comes to hiring and retaining highly productive and
                creative IT talent all you can do is completely trust on
                GoolRant's diligent IT staffing and recruitment capabilities
                that include a full-proof process of hiring the most genuine and
                reliable IT professionals who have mastered the most in-demand
                and domain-specific IT skills, software, next-gen tools, and
                technologies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weblegacy">
    <div class="container weblegacycon">
      <div class="row">
        <div class="col-lg-11 webview">
          <div class="legh1Txt">
            <h1>
              Transforming Your Legacy. <br />
              One Hiring at a Time.
            </h1>
          </div>
          <div class="legPtext">
            <p class="pt-2">
              GoolRant's team of experienced IT talent recruiters, trainers, and
              consultants provide you with highly skilled resources for projects
              of all sizes and categories. GoolRant's team has expertise in
              jointly working and collaborating with your company for delivering
              and developing a competent staffing and training strategy for your
              IT department.
            </p>
            <p>
              As of now, GoolRant has ingeniously created an extensive network
              of extremely talented and experienced IT professionals who are
              well versed and updated in their IT acumen and core industry
              skills.
            </p>
            <p>
              GoolRant helps your company to find competent and talented IT
              professionals who perfectly meet your company's IT needs and
              demands. GoolRant seeks to save your valuable resources in the
              form of time, costs, and efforts that are required to hire, train
              and retain IT talents.
            </p>
            <p>
              Leverage from GoolRant's IT staffing expertise that caters to a
              wide range of IT staffing, recruitment, and training needs of the
              following domains of IT that include: Application Development,
              Cloud Computing, Database Administration, Quality Assurance(QA) &
              Testing, Network Administration, Project Management, Web & Mobile
              Development, Integration & API Management, UI/UX Design, and more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0">
    <app-lets-connect></app-lets-connect>
  </div>
</section>
