<app-meta-tags [url]="url"></app-meta-tags>
<section id="webdevcontainer">
  <div class="webblock">
    <div class="container webCon">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="webheader">
            <h2 class="webTxt">Cloud Services</h2>
          </div>
          <div class="arrow">
            <i style="font-size: 21px" class="fa">&#xf175;</i>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 imgcon">
          <img
            class="ipad"
            src="../../../assets/images/ent-sch-enterprice-service-cloud-web 1.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="webfeatures">
    <div class="container featureCon">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h1 class="py-4">
            Transform Complex IT Infra with <br />Scalable & Reliable Cloud
            Services
          </h1>
        </div>
      </div>
      <div class="row cardContainer">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card1">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Responsible</h3>

              <p class="card-text">
                If you are looking for custom cloud solutions that are adeptly
                suitable for your business processes and frameworks then
                GoolRant custom cloud computing service is the go-to option for
                your company. GoolRant takes complete responsibility for the
                seamless working and timely up-gradation of your cloud infra and
                sensitive data that needs special attention and customized
                handling.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card2">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Sustainable</h3>

              <p class="card-text">
                GoolRant ensures that you always stay ahead by sustainably
                meeting key compliance requirements and become audit ready for
                crucial cloud compliance frameworks. Create a sustainable cloud
                environment with GoolRant that takes your organization's
                capabilities to new heights. GoolRant offers sustainability
                through simplified cloud management, optimized cloud spendings,
                and efficient cloud utility.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Secure</h3>

              <p class="card-text">
                In current times a single data breach over the cloud can cost
                your organization millions of dollars in terms of currency as
                well as precious brand reputation. GoolRant constantly strives
                to equip your cloud environment with fully encrypted and
                vigilant cloud functionalities that effectively avoid numerous
                predictable and unpredictable cyber cloud threats. GoolRant has
                a reputation for proactively identifying and mitigating all
                kinds of potential cloud vulnerabilities, breaches, and risks.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weblegacy">
    <div class="container weblegacycon">
      <div class="row">
        <div class="col-lg-10 webview">
          <div class="legh1Txt">
            <h1>
              Migrate to better<br />
              in a breeze
            </h1>
          </div>
          <div class="legPtext">
            <p class="pt-2">
              Rapidly scale up your entire cloud ecosystem with GoolRant's
              multiple cloud computing resources. GoolRant offers your
              organization the complete control over visibility and
              functionality into your Azure, AWS, and Google Cloud environments
              in order to fine-tune cloud spendings, resources, and security.
            </p>
            <p>
              Benefit from the industry's easiest-to-deploy and manage cloud
              computing resources from GoolRant. GoolRant helps your company to
              disruptively exploit the possibilities offered by numerous leading
              cloud platforms, including AWS, Microsoft Azure, Google Cloud
              Platform, and more.
            </p>
            <p>
              GoolRant's diligent cloud computing services include cloud
              migration, cloud optimization, and cloud computing for public,
              private, and hybrid servers.
            </p>
            <p>
              Experience on-demand cloud services in real-time with GoolRant.Get
              a reliable, secure, and trustworthy cloud partner in the form of
              GoolRant with whom you can seamlessly migrate to the cloud with
              zero errors and minimum efforts.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0">
    <app-lets-connect></app-lets-connect>
  </div>
</section>
