.body {
    font-family: 'Lato' !important;

    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 10px;
        color: #000000;
    }
}