<app-meta-tags [url]="url"></app-meta-tags>
<section id="softwarecontainer">
  <div class="webblock">
    <div class="container webCon">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="webheader">
            <h2 class="webTxt">Software Development & Support</h2>
          </div>
          <div class="arrow">
            <i style="font-size: 21px" class="fa">&#xf175;</i>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 imgcon">
          <img
            class="ipad"
            src="../../../assets/images/services/software-dev/banner-right.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="webfeatures">
    <div class="container featureCon">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h1 class="py-4">Reason to Develop with GoolRant</h1>
        </div>
      </div>
      <div class="row cardContainer">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card1">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Focused</h3>

              <p class="card-text">
                The dedicated team of GoolRant software developers is always
                focused on delivering your very-own personalized projects within
                stipulated deadlines such that the overall journey of software
                development and maintenance becomes streamlined, productive, and
                intuitive. GoolRant is known to help its clients focus on
                opportunities to upgrade on fronts of use-cases,
                functionalities, customer interaction, and service delivery.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card2">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Reliable</h3>

              <p class="card-text">
                The dedicated team of GoolRant software developers is always
                focused on delivering your very-own personalized projects within
                stipulated deadlines such that the overall journey of software
                development and maintenance becomes streamlined, productive, and
                intuitive. GoolRant is known to help its clients focus on
                opportunities to upgrade on fronts of use-cases,
                functionalities, customer interaction, and service delivery.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Futuristic</h3>

              <p class="card-text">
                The dedicated team of GoolRant software developers is always
                focused on delivering your very-own personalized projects within
                stipulated deadlines such that the overall journey of software
                development and maintenance becomes streamlined, productive, and
                intuitive. GoolRant is known to help its clients focus on
                opportunities to upgrade on fronts of use-cases,
                functionalities, customer interaction, and service delivery.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weblegacy">
    <div class="container weblegacycon">
      <div class="row webrow">
        <div class="col-lg-8 col-sm-12 col-xs-12 webview">
          <div class="legh1Txt">
            <h1>
              The Best Software <br />
              Made Together
            </h1>
          </div>
          <div class="legPtext">
            <p class="pt-2">
              From front-end to back-end, full stack to database, our team of
              diligent software developers strive for the creation of software
              solutions that strike a perfect balance between usability
              essentials and designing aspects.
            </p>
            <p>
              GoolRant diligent software development team strives for the
              successful implementation of your company's vision and smart
              ideas. In times of complex project demands or rapid upscaling of
              your organization,
            </p>
            <p>
              GoolRant develops your very own custom software by keeping in mind
              the best industry practices that usher your business in the
              factions of digital growth. Embrace the new way of developing
              software with GoolRant that combines the most advanced elements of
              software development to deliver state-of-the-art software
              products.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12">
          <div class="legcaption">
            <p>
              GoolRant's custom-made software solutions help to improve your
              company's internal processes and operations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0">
    <app-lets-connect></app-lets-connect>
  </div>
</section>
